<nz-content class="content"
  style="background:#fff;margin-top: 20px; padding: 24px; min-height: 100vh ; display: flex; justify-content: center ; ">
  <div style="width: 100%; overflow: scroll; ">
    <div *ngIf="me?.role === 'admin'" (click)="addProject()">
      <button nz-button nzType="primary">Add Projects</button>
    </div>

    <div style="margin-top:20px; ">
      <nz-table #nzTable [nzNoResult]="'No Result'" [nzData]="displayData" [nzPageSize]="10" [nzLoading]="loadingTable">
        <div nz-row [nzGutter]="12">
          <ng-template ngFor let-data [ngForOf]="nzTable.data">
          <div nz-col [nzSpan]="6">
            <nz-card style="width:280px;margin-top: 20px;" [nzBordered]="true" nzTitle="{{ data.name }}" [nzExtra]="extraTemplate" >
                  <p class="card-text">{{data.description }}</p>
                  <p class="card-text">{{data.start }}</p>
                  <p class="card-text">{{data.end }}</p>
                  <!-- <p class="card-text">{{ data.status ? "Active" : "Deactive" }}</p> -->
            </nz-card>
          </div>
          <ng-template #extraTemplate>
              <button [hidden]="data.role !== 'admin' && data.role !== 'pm'" (click)="navigateEdit(data.id)"
                        nz-button nzType="primary" nzGhost>
                        Edit
                      </button>
                      <button (click)="navigateView(data.id)" nz-button nzType="primary" nzGhost style="margin-left:5px">
                        View
                      </button>
            </ng-template>
            </ng-template>
        </div>
      </nz-table>
    </div>
  </div>
</nz-content>