<nz-content
  class="content"
  style="background:#fff;margin-top: 20px; padding: 24px; min-height: 100vh ; display: flex; justify-content: center ; "
>
  <div style="width: 100%; ">
    <div *ngIf="me?.role === 'admin'" (click)="addProject()">
      <button nz-button nzType="primary">Add Projects</button>
    </div>

    <div style="margin-top:20px; overflow: scroll">
        <div class="form" style="background:white">
          <button _ngcontent-c8="" id="add-button" (click)="navigateView()" nz-button="" nztype="primary" style="margin-right:10px;float:right" class="ant-btn ant-btn-primary ng-star-inserted" ng-reflect-nz-type="primary" nz-wave="[object Object]"><span> Documents</span></button>
            <h1>Task Board</h1>
          <div style="display:inline">
            <input nz-input id="task"  placeholder=" search task ..." />
            <button _ngcontent-c8="" id="add-button" nz-button="" nztype="primary" style="margin-right:10px;margin-top:10px" class="ant-btn ant-btn-primary ng-star-inserted" ng-reflect-nz-type="primary" nz-wave="[object Object]"><span> Add Task</span></button>
          </div>
      </div>
          
      
      <div class="flex">
          <div class="scrum-board backlog">
            <h2>Backlog</h2>
            <div class="input-group overflow">
              <span>Fix Document #593</span>
              
              <div class="margin-top-10">
                 <button class="button button-backlog">Backlog</button><button class="button button-progress">In Progress</button><button class="button button-done">Done</button><button class="button button-delete">Delete</button>
              </div>
            </div>
            <div class="input-group overflow">
              <span>Create TestCase #3934</span>
              
              <div class="margin-top-10">
                <button class="button button-backlog">Backlog</button><button class="button button-progress">In Progress</button><button class="button button-done">Done</button><button class="button button-delete">Delete</button>
              </div>
            </div>
            <div class="input-group overflow">
              <span>Collect all feedback from customer</span>

              <div class="margin-top-10">
                <button class="button button-backlog">Backlog</button><button class="button button-progress">In Progress</button><button class="button button-done">Done</button><button class="button button-delete">Delete</button>
              </div>
            </div>
            <div class="input-group overflow">
              <span>Create A Plan for Document #3434</span>

              <div class="margin-top-10">
                <button class="button button-backlog">Backlog</button><button class="button button-progress">In Progress</button><button class="button button-done">Done</button><button class="button button-delete">Delete</button>
              </div>
            </div>        
          </div>
    
          <div class="scrum-board in-progress">
            <h2>In progress</h2>
          </div>
          <div class="scrum-board done">
            <h2>Done</h2>
          </div>
    
        </div>
    </div>
  </div>
</nz-content>
