.logo {
  height: 32px;
  background: #011229;
  margin: 16px;
}
.navigation-container {
    display: flex;
    justify-content: space-between;
}
a{ 
  color: white;
}
a:hover{
  color: #f44253;
}
.anticon-menu-fold {
  color:white;
}
.anticon-menu-unfold {
  color:white;
}
.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger:hover {
  color: #f44253;
}
.alain-default__header-logo {
  width: 200px;
  margin-left: -16px;
  transition: width .2s cubic-bezier(.25,0,.15,1);
}
.alain-default__header-logo-expanded{
  display: inline;
}
.alain-default__collapsed .alain-default__header-logo-expanded {
  display: none;
}
.alain-default__header-logo-collapsed, .alain-default__header-logo-expanded {
  max-width: 100%;
  vertical-align: middle;
  -webkit-animation: 1s fadeIn;
  animation: 1s fadeIn;
}